name: renovate
on:
  push:
    branches:
      # using an array here did not work
      - 'renovate/**'
      - 'testing/**'
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    name: 'Node 14'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          registry-url: https://registry.npmjs.org
      - name: Extract version
        id: extract_version
        uses: Saionaro/extract-package-version@v1.1.1
      - name: Print version
        run: echo ${{ steps.extract_version.outputs.version }}
      ##################################################
      #   _           _ _     _
      #  | |__  _   _(_) | __| |
      #  | '_ \| | | | | |/ _` |
      #  | |_) | |_| | | | (_| |
      #  |_.__/ \__,_|_|_|\__,_|
      ##################################################
      - name: build
        run: |
          npm ci
          npm run lint
          npm run test
          npm run build

      ###################################################
      ##   _ __  _ __  _ __ ___
      ##  | '_ \| '_ \| '_ ` _ \
      ##  | | | | |_) | | | | | |
      ##  |_| |_| .__/|_| |_| |_|
      ##        |_|
      ###################################################
      - name: npm-publish-dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --dry-run
      ###################################################
      ##    __                        ___.          .__  .__
      ## _/  |______ _______         \_ |__ _____  |  | |  |
      ## \   __\__  \\_  __ \  ______ | __ \\__  \ |  | |  |
      ## |  |  / __ \|  | \/ /_____/ | \_\ \/ __ \|  |_|  |__
      ## |__| (____  /__|            |___  (____  /____/____/
      ##           \/                    \/     \/
      ###################################################
      - name: create-local-npm-tar-ball
        run: npm pack
      - name: create-tar-ball-artifact
        uses: actions/upload-artifact@v2
        with:
          name: mod-dep-mod-tar-ball
          path: "mod-dep-mod-${{ steps.extract_version.outputs.version }}.tgz"

  ##################################################
  #    _____           _                                   _     _
  #   |_   _|         | |                                 | |   (_)
  #     | |    _ __   | |_    ___    __ _   _ __    __ _  | |_   _    ___    _ __
  #     | |   | '_ \  | __|  / _ \  / _` | | '__|  / _` | | __| | |  / _ \  | '_ \
  #    _| |_  | | | | | |_  |  __/ | (_| | | |    | (_| | | |_  | | | (_) | | | | |
  #   |_____| |_| |_|  \__|  \___|  \__, | |_|     \__,_|  \__| |_|  \___/  |_| |_|
  #                                  __/ |
  #                                 |___/
  #
  ##################################################
  integration-testing:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Extract version
        id: extract_version
        uses: Saionaro/extract-package-version@v1.1.1
      - name: Print version
        run: echo ${{ steps.extract_version.outputs.version }}
      - name: download-tarball
        uses: actions/download-artifact@v2
        with:
          name: mod-dep-mod-tar-ball
      - name: test-globally-installed
        run: |
          npm install -g "mod-dep-mod-${{ steps.extract_version.outputs.version }}.tgz"
          mod-dep-mod -u https://raw.githubusercontent.com/fastify/fastify/master/package.json debug
